nameOverride: ""
fullnameOverride: ""

infisical:
  enabled: true
  name: infisical
  autoDatabaseSchemaMigration: true
  fullnameOverride: ""
  podAnnotations: {}
  deploymentAnnotations: {}
  replicaCount: 2

  image:
    repository: infisical/infisical
    tag: "v0.46.3-postgres"
    pullPolicy: IfNotPresent
    imagePullSecrets: []

  affinity: {}
  kubeSecretRef: "infisical-secrets"
  service:
    annotations: {}
    type: ClusterIP
    nodePort: ""

  resources:
    limits:
      memory: 600Mi
    requests:
      cpu: 350m

ingress:
  enabled: false
  hostName: ""
  ingressClassName: nginx
  nginx:
    enabled: false
  annotations: {}
  tls:
    []
    # - secretName: letsencrypt-prod
    #   hosts:
    #     - some.domain.com

postgresql:
  enabled: true
  name: "postgresql"
  fullnameOverride: "postgresql"
  auth:
    username: infisical
    password: root
    database: infisicalDB

redis:
  enabled: true
  name: "redis"
  fullnameOverride: "redis"
  cluster:
    enabled: false
  usePassword: true
  auth:
    password: "mysecretpassword"
  architecture: standalone
