version: '3'

services:
  nginx:
    container_name: infisical-nginx
    image: nginx
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - infisical
  
  backend:
    platform: linux/amd64
    container_name: infisical-backend
    restart: unless-stopped
    depends_on:
      - mongo
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: infisical/backend
    command: npm run start
    env_file: .env
    environment:
      - NODE_ENV=${ENV}
    networks:
      - infisical
  
  frontend:
    platform: linux/amd64
    container_name: infisical-frontend
    restart: unless-stopped
    depends_on:
      - backend
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    image: infisical/frontend
    env_file: .env
    environment:
      - NEXT_PUBLIC_WEBSITE_URL=${SITE_URL}
      - NEXT_PUBLIC_ENV=${ENV}
    networks:
      - infisical

  mongo:
    container_name: infisical-mongo
    image: mongo
    restart: always
    env_file: .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    volumes:
      - mongo-data:/data/db
    networks:
      - infisical

volumes:
  mongo-data:
    driver: local

networks:
  infisical: