<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>[Infisical] Please download your multi-factor recovery codes</title>
</head>

<body>
    <p>Hello,</p>
    <p>Congratulations! You&apos;ve just configured multi-factor authentication (MFA).</p>
    <p>Please take a moment to check that you have saved your MFA recovery codes in a safe place. You can download your recovery codes at: <a href="https://infisical.com/recovery-codes">https://infisical.com/recovery-codes</a></p> 
    <p>These MFA recovery codes are the only way to access your account again. By saving your recovery codes, you&apos;ll be able to regain access if you:</p>
    <p>* Lose or forget your device (eg. phone)</p>
    <p>* Delete your authenticator app</p>
    <p><strong>Please note that Infisical Support will not be able to restore access to your account if you lose access to your devices and your recovery codes (or they are used up).</strong></p>
    <p>To disable multi-factor authentication, visit: <a href="https://infisical.com/personal-settings">https://infisical.com/personal-settings</a></p>
    <p>More information about multi-factor authentication can be found in the Infisical docs at: <a href="https://infisical.com/docs/security/overview">https://infisical.com/docs/security/overview</a></p>
    <p>Or email us: support@infisical.com</p>
    <p>Thanks,</p>
    <p>The Infisical team</p>
</body>

</html>