<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Code</title>
  </head>

  <body>
    <h2>Confirm your email address</h2>
    <p>Your confirmation link is below. If you did not attempt to sign up an account with Infisical,
      it's safe to ignore this email.</p>
    <a href="{{callback_url}}?token={{token}}&to={{email}}">Confirm email</a>
    <p>Questions about setting up Infisical? Email us at support@infisical.com</p>
  </body>

</html>