<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Email Verification</title>
</head>
<body>
    <h2>Infisical</h2>
    <h2>Confirm your email address</h2>
    <p>Your confirmation code is below — enter it in the browser window where you've started signing up for Infisical.</p>
    <h2>{{code}}</h2>
    <p>Questions about setting up Infisical? Email us at support@infisical.com</p>
</body>
</html>