<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>[Infisical] multi-factor authentication (MFA) was disabled for your account</title>
</head>

<body>
    <p>Hello,</p>
    <p>Multi-factor authentication (MFA) has been disabled for your account.</p>
    <p>If you did not initiate this action or believe your account has been compromised and you haven't already, it is a good idea to review your active sessions.</p>
    <p>If you want to re-enable MFA, head on over to: <a href="https://infisical.com/personal-settings">https://infisical.com/personal-settings</a></p>
    <p>To see this and other security events for your account, visit your account security audit log: <a href="https://infisical.com/audit-logs">https://infisical.com/audit-logs</a></p>
    <p>If you run into problems, please contact support: support@infisical.com</p>
    <p>Thanks,</p>
    <p>The Infisical team</p>
</body>

</html>