<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>[Infisical] An MFA recovery code was used to access your account</title>
</head>

<body>
    <p>Hello,</p>
    <p>Someone has signed into your Infisical account using a multi-factor authentication recovery code. You have {{numberOfCodesLeft}} active recovery code(s) left.</p>
    <p>To generate a new set of recovery codes visit: <a href="https://infisical.com/recovery-codes">https://infisical.com/recovery-codes</a></p>
    <p>If you recently authenticated using a saved recovery code, no further action is required.</p>
    <p><strong>If you did not authenticate with an MFA recovery code, your Infisical account may be compromised.</strong> Follow these steps:</p>
    <p>1. Immediately log in to Infisical and revoke all sessions</p>
    <p>2. Create a new strong and unique password for your Infisical account. For more information, see the Infisical security overview: <a href="https://infisical.com/docs/security/overview">https://infisical.com/docs/security/overview</a></p>
    <p>3. Visit your personal settings: <a href="https://infisical.com/personal-settings">https://infisical.com/personal-settings</a> to update your multi-factor authentication methods 
    <p>4. Generate new MFA recovery codes and save these in a safe, secure and durable location, ideally off your computer</p>
    <p>5. Rotate your account backup key and save it in a safe, secure and durable location, ideally off your computer</p>
    <p>To see this and other security events for your account, visit your account security audit log: <a href="https://infisical.com/audit-logs">https://infisical.com/audit-logs</a></p>
    <p>If you run into problems, please contact support: support@infisical.com</p>
    <p>Thanks,</p>
    <p>The Infisical team</p>
</body>

</html>