<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Account Recovery</title>
</head>
<body>
    <h2>Infisical</h2>
    <h2>Reset your password</h2>
    <p>Someone requested a password reset.</p>
    <a href="{{callback_url}}?token={{token}}&to={{email}}">Reset password</a>
    <p>If you didn't initiate this request, please contact us immediately at team@infisical.com</p>
</body>
</html>