<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Secret Reminders</title>
</head>
<body>
    <h2>It's time to rotate your secret!</h2>
    <p>Note: {{note}}</p>
    <a href="{{link}}">Go To Secrets</a>
    <h3>What is Infisical?</h3>
    <p>Infisical is an easy-to-use end-to-end encrypted tool that enables developers to sync and manage their secrets and configs.</p>
</body>
</html>