<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Incident alert: secret leaked</title>
</head>

<body>
  <h3>Infisical has uncovered {{numberOfSecrets}} secret(s) from your recent push</h3>
  <p><a href="https://app.infisical.com/secret-scanning"><strong>View leaked secrets</strong></a></p>
  <p>One or more secret leaks have been detected in a recent commit pushed by {{pusher_name}} ({{pusher_email}}). If
    the secrets are test secrets, please mark them as false positives in the <a
      href="https://app.infisical.com/">Infisical dashboard</a>.
    Otherwise, please rotate the secrets immediately.</p>
</body>

</html>