<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Project Invitation</title>
</head>
<body>
    <h2>Infisical</h2>
    <h2>Join your team on Infisical</h2>
    <p>{{inviterFirstName}}({{inviterEmail}}) has invited you to their Infisical workspace — {{workspaceName}}</p>
    <a href="{{callback_url}}">Join now</a>
    <h3>What is Infisical?</h3>
    <p>Infisical is a simple end-to-end encrypted solution that enables teams to sync and manage their environment variables.</p>
</body>
</html>