apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: infisicalsecret-sample
  labels:
    label-to-be-passed-to-managed-secret: sample-value
  annotations:
    example.com/annotation-to-be-passed-to-managed-secret: "sample-value"
spec:
  hostAPI: https://app.infisical.com/api
  resyncInterval: 10
  instantUpdates: true
  # tls:
  #   caRef:
  #     secretName: custom-ca-certificate
  #     secretNamespace: default
  #     key: ca.crt
  authentication:
    # Make sure to only have 1 authentication method defined, serviceToken/universalAuth.
    # If you have multiple authentication methods defined, it may cause issues.

    # (Deprecated) Service Token Auth
    # serviceToken:
    #   serviceTokenSecretReference:
    #     secretName: service-token
    #     secretNamespace: default
    #   secretsScope:
    #     envSlug: <env-slug>
    #     secretsPath: <secrets-path>
    #     recursive: true

    # Universal Auth
    universalAuth:
      secretsScope:
        projectSlug: <your-project-slug>
        envSlug: dev # "dev", "staging", "prod", etc..
        secretsPath: "/" # Root is "/"
        recursive: true # Wether or not to use recursive mode (Fetches all secrets in an environment from a given secret path, and all folders inside the path) / defaults to false
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: default

  managedKubeSecretReferences:
    - secretName: managed-secret
      secretNamespace: default
      creationPolicy: "Orphan" ## Owner | Orphan
      # secretType: kubernetes.io/dockerconfigjson

  # # To be depreciated soon
  # tokenSecretReference:
  #   secretName: service-token
  #   secretNamespace: default
