{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "plugins": [
    "@typescript-eslint"
  ],
  // "extends": [
  //   "eslint:recommended",
  //   "plugin:@typescript-eslint/recommended"
  // ]
}