{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "unused-imports"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off",
    "no-console": 2,
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true
      }
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "@typescript-eslint/no-extra-semi": "off", // added to be able to push
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "sort-imports": 1
  }
}