{{- $backend := .Values.backend }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "infisical.backend.fullname" . }}
  {{- with .Values.backend.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  labels:
    {{- include "infisical.backend.labels" . | nindent 4 }}
spec:
  replicas: {{ $backend.replicaCount }}
  selector:
    matchLabels:
      {{- include "infisical.backend.matchLabels" . | nindent 6 }}
  template:
    metadata: 
      labels:
        {{- include "infisical.backend.matchLabels" . | nindent 8 }}
      {{- with $backend.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      containers:
      - name: {{ template "infisical.name" . }}-{{ $backend.name }}
        image: "{{ $backend.image.repository }}:{{ $backend.image.tag | default "latest" }}"
        imagePullPolicy: {{ $backend.image.pullPolicy }}
        readinessProbe:
          httpGet:
            path: /api/status
            port: 4000
          initialDelaySeconds: 10
          periodSeconds: 10
        ports: 
        - containerPort: 4000
        envFrom:
        - secretRef:
            name: {{ $backend.kubeSecretRef | default (include "infisical.backend.fullname" .) }}
        env:
        - name: MONGO_URL
          value: {{ include "infisical.mongodb.connectionString" . | quote }}

---

apiVersion: v1
kind: Service 
metadata:
  name: {{ include "infisical.backend.fullname" . }}
  labels:
    {{- include "infisical.backend.labels" . | nindent 4 }}
  {{- with $backend.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.backend.service.type }}
  selector:
    {{- include "infisical.backend.matchLabels" . | nindent 8 }}
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 4000 # container port 
      {{- if eq .Values.backend.service.type "NodePort" }}
      nodePort: {{ .Values.backend.service.nodePort }}
      {{- end }}

---

{{ if not $backend.kubeSecretRef }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $backend.kubeSecretRef | default (include "infisical.backend.fullname" .) }}
type: Opaque
data:
  {{- range $key, $value := $backend.secrets }}
  {{ $key }}: {{ $value | quote | b64enc }}
  {{- end }}
{{- end }}
