<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Signup Verification</title>
</head>

<body>
    <h2>Confirm your email address</h2>
    <p>You're almost set to start enjoying Infisical. Simply click the link below to verify your email address and get started. The link expires in 24 hours. If you did not attempt to sign up an account with Infisical, it's safe to ignore this email.</p>
    <a href="{{link}}" target="_blank">Verify my email address</a>
    <p>Questions about setting up Infisical? Email us at support@infisical.com</p>
</body>

</html>