<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Import in progress</title>
  </head>

  <body>
    <h2>An import from {{provider}} to Infisical is in progress</h2>
    <p>An import from
      {{provider}}
      to Infisical is in progress. The import process may take up to 30 minutes, and you will receive once the import
      has finished or if it fails.</p>
  </body>

</html>