<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Import successful</title>
  </head>

  <body>
    <h2>An import from {{provider}} to Infisical was successful</h2>
    <p>An import from {{provider}} was successful. Your data is now available in Infisical.</p>
  </body>

</html>