<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Incident alert: secrets potentially leaked</title>
</head>

<body>
  <h3>Infisical has uncovered {{numberOfSecrets}} secret(s) from historical commits to your repo</h3>
  <p><a href="{{siteUrl}}/secret-scanning"><strong>View leaked secrets</strong></a></p>

  <p>If these are production secrets, please rotate them immediately.</p>

  <p>Once you have taken action, be sure to update the status of the risk in your <a
      href="{{siteUrl}}">Infisical
      dashboard</a>.</p>
</body>

</html>