<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Secret Change Approval Request</title>
  </head>

  <body>
    <h2>Hi {{firstName}},</h2>
    <h2>New secret change requests are pending review.</h2>
    <br />
    <p>You have a secret change request pending your review in project "{{projectName}}", in the "{{organizationName}}"
      organization.</p>

    <p>
      View the request and approve or deny it
      <a href="{{approvalUrl}}">here</a>.
    </p>
  </body>

</html>