<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Your Infisical account has been locked</title>
  </head>

  <body>
    <h2>Unlock your Infisical account</h2>
    <p>Your account has been temporarily locked due to multiple failed login attempts. </h2>
    <a href="{{callback_url}}?token={{token}}">To unlock your account, follow the link here</a>
    <p>If these attempts were not made by you, reset your password immediately.</p>

    {{emailFooter}}
  </body>

</html>